{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container bb-view-container">
    <table class="table">
        <thead>
        <tr>
            <th>IMAGE</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>LINK</th>
        </tr>
        </thead>
        <tbody>
        {% for item in viewed_items %}
            <tr>
                
                    <td><img class="bb-viewed-img" src="{{ item.product.aw_image_url }}"></td>
                    <td>{{ item.product.product_name }}</td>
                    <td>{{ item.product.search_price }}</td>
                    <td><a class="btn bb-form-btn" href="{{ item.product.merchant_deep_link }}">VIEW</a></td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>
{% endblock %}