{% extends 'base.html' %}
{% load static  %}

{% block head_title %} {{ instance.name }} {% endblock %}

{% block content %}
<br>
<div class="text-center" style="text-transform:capitalize"><h1>{{instance.name}}</h1></div>
<hr>
<div class="container text-center">
{% if  instance.children.all %}
    <h2 style="color:#2fa4e7">Sub Categories</h2>
    {% for i in instance.children.all %}
       <a href="{{ i.slug }}"> {{ i.name }} </a> <br>
    {% endfor %}

    <br><hr>
{% endif %}
</div>

<div class="container-fluid bb-products-container">
<div class="row">
    {% if  instance.product_set.all %}
 {% for i in instance.product_set.all %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="{{ i.aw_deep_link }}">
        <div class="card text-center">
            <div class="bb-product-img-container">
                <img class="card-img-top" src="{{ i.aw_image_url }}">
            </div>
            <div class="card-block">
                <h5 class="text-bold">{{ i.product_name }}</h5>
                <p style="color:#EB474E;">€{{ i.search_price }}</p>
            </div>
        </a>  
        </div>
    </div>
     {% endfor %}
 </div>
</div>

<div class="text-center">
{% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_previous %}
      <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>






{% endif %}

{% endblock %}