{% extends "base.html" %}
{% block content %}

<div class="container-fluid bb-products-container">
<div class="row">
    {% for product in products %}
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card text-center">
            <div class="bb-product-img-container">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}">
            </div>
            <div class="card-block">
                <h5 class="text-bold">{{ product.name }}</h5>
                <p>{{ product.description }}</p>
                <p style="color:#EB474E;">€{{ product.price }}</p>
            </div>
        </div>
    </div>
     {% endfor %}
 </div>
</div>

{% endblock %}

