{% extends "base.html" %}
{% load static %}
{% load namify %}
{% block content %}


<div class="container-fluid bb-products-container">
<div class="row">
    {% for product in products %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="{% url 'selected_product' product.id %}" target="_blank">
        <div class="card text-center">
            <div class="bb-product-img-container">
                <img class="card-img-top" src="{{ product.aw_image_url }}">
            </div>
            <div class="card-block">
                <h5 class="text-bold">{{ product.product_name }}</h5>
                <p style="color:#EB474E;">€{{ product.search_price }}</p>
            </div>
        </a>  
        </div>
    </div>
     {% endfor %}
 </div>
</div>

<div class="text-center">
{% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_previous %}
      <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

{% endblock %}

