@import url('https://fonts.googleapis.com/css?family=Montserrat:500');



/**********************************BASE************************************/

body {
  font-family: 'Montserrat', 'sans-serif';
  margin-top: 50px;
}

a {
  color: #003542;
}

a:hover, a:focus {
    color: #2fa4e7;
}

.navbar {
    margin-bottom: 0px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    border-bottom: none;
}

.navbar .navbar-nav > li > a, .navbar-brand {
    text-shadow: none;
}

.navbar {
    border-radius: 0px;
}

.navbar-nav {
    margin: 0px;
}

.bb-nav-container {
    padding-left: 0px;
    padding-right: 0px;
}

.bb-navbar {
    background-image: none;
    background-color: white;
}


.icon-bar {
    background-color: #2fa4e7;
}

::placeholder {
  font-size:inherit;
}

.dropdown-menu {
  border-color: #e3e3e3;
  border-radius: 1px;
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-right: 1px;
  border-left: 1px;
  border-bottom: 1px;
  border-radius: 0px; 
  border-color: #e8e8e8;
}

.open>.dropdown-menu {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #2fa4e6;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.form-control {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #2fa4e7;
    border-radius: 0px;
    box-shadow: none;
}

.bb-search-btn {
    border-radius: 0px;
    color: #2fa4e7;
    background-color: #ffffff;
    border: 1px solid #2fa4e7;
}

.bb-search-btn:hover,
.bb-search-btn:focus {
    color: white;
    background-color: #2fa4e7;
}

.bb-footer {
  background-color: grey;
}

.bb-footer-social {
  background-color: #2fa4e7;
  margin-top: 30px;
  padding: 10px 25px;
  text-align: center;
}

.bb-footer-social-icons {
   text-align: center;
   padding-top: 3px;
}

.bb-social-icons{
  font-size: 25px;
  padding: 10px 15px;
}

.bb-social-icons:hover,
.bb-social-icons:focus{
  color: white;
}

.bb-footer-copyright {
   background-color: #2fa4e7;
   padding: 10px 25px;
   text-align: center;
   color: white;
}

#bb-social-network-text {
  color: white;
}

.bb-footer-main-container {
  background-color: #003542;
  padding: 10px 20px;
}

.bb-footer-title {
  color: #2fa4e7;
  font-size: 20px;
}
.bb-footer-column{
  padding-bottom: 10px;
}

.bb-footer-column > p,
.bb-footer-column > p > a{
  color: white;
}

/**********************************INDEX************************************/

.bb-carousel-container{
    padding-left: 0px;
    padding-right: 0px;
}

.bb-carousel-btn {
    background-color: #03a9f4ad;
    border-radius: 0px;
    font-size: 15px;
    transition: .85s;
}

.bb-carousel-btn:hover,
.bb-carousel-btn:focus {
    background-color: #03a9f4;
    border-radius: 0px;
    color: white;
}

.carousel-indicators li {
    border: 1px solid #ffffff;
    background-color: rgb(94, 158, 195);
    border-radius: 0px;
}

.bb-caption {
    left: 55%;
    right: 5%;
    top: 10%;
}

.bb-page-title {
  background-color:#2fa4e7;
  color:white;
}



/**********************************VIEWPRODUCTS************************************/

.bb-products-container {
  margin-top: 50px;
}


.bb-product-img-container {
  max-height:250px;
  text-align: center;
}

.card {
    font-size: 1em;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    /*box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;*/
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-bottom: 1px solid #9E9E9E;
    box-shadow: none;
    overflow-wrap: break-word;
    height:150px;
}

.card-img-top {
    display: block;
    width: auto;
    height: 200px;
    margin: 0 auto;
}


/**********************************ACCOUNTS************************************/

.bb-account-container {
  margin-top: 50px;
}

.bb-form-btn {
    background-color: #03a9f4;
    border-radius: 0px;
    transition: .50s;
    color: white;
}

.bb-form-btn:hover,
.bb-form-btn:focus {
    background-color: #003542;
    border-radius: 0px;
    color: white;
}

/**********************************MEDIA SCREENS************************************/

.bb-blogpost-container {
  margin-top: 30px;
}

.bb-blogpost-img {
  height: 250px;
  width: auto;
  display:block;
}

.bb-viewpost-img {
  height: 400px;
}


/**********************************MEDIA SCREENS************************************/
@media (min-width: 576px) { 
    
.bb-caption {
    left: 65%;
    right: 20%;
    top: 20%;
}

.bb-carousel-btn {
    background-color: #03a9f4ad;
    border-radius: 0px;
    font-size: 30px;
    transition: .85s;
}

}


@media (min-width: 768px) {

/**********************************BASE************************************/

.navbar-nav {
   margin-right: -15px;
}


.nav>li>a {
    padding-right:9.5px;
    padding-left:9.5px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #eeeeee00;
    border-color: #2fa4e7;
    border-bottom: 2px solid #2fa4e7;
}

.navbar .navbar-nav > li > a:hover {
    background-color: #eeeeee00;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeeee00;
}

.bb-navbar {
    padding-right: 15px;
}

#bb-account-dropdown {
    width: 118px;
    min-width: 0px;
}

.bb-navbar-search-form {
  width: 220px;
}
 
/**********************************INDEX************************************/
 
 .bb-hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.bb-hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.bb-hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.bb-hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.bb-hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.bb-hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 25px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.bb-hovereffect a, .bb-hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.bb-hovereffect:hover a, .bb-hovereffect:hover p, .bb-hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
 
}


@media (min-width: 992px) {
  
/**********************************BASE************************************/

.nav>li>a {
  padding-right: 15px;
  padding-left: 15px;
}
}


@media (min-width: 1200px) {
  
}










