{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container bb-register-container">
    <form method="post" action="{% url 'register' %}" class="accountform">
        <fieldset class="form-group">
            <legend>CREATE A NEW ACCOUNT</legend>
            <p>Already got an account? <a href="{% url 'login' %}"><span style="color:#2fa4e7;">Sign In</span></a></p>
            {% csrf_token %}
            {{  user_form | as_bootstrap }}
            <button type="submit" class="btn bb-form-btn">CREATE ACCOUNT</button>
        </fieldset>
    </form>
    </div>
{% endblock %}